@model RentalSystem.Models.ViewModels.TransportsListViewModel

@{
    ViewData["Title"] = "Всі авто";
}

<div class="text-center mb-4">
    <h1 class="display-5 fw-bold">Наш автопарк</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.Transports)
    {
        <div class="col">
            <partial name="_TransportSummary" model="item" />
        </div>
    }
</div>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>